<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/garment/<%= garment.id %>?_method=put" method="post">
        <label for="name">Name</label> <input type="text" name="name" id="name" value="<%= garment.name %>"> <br>
        <label for="lokasi">Lokasi</label> <input type="text" name="lokasi" id="lokasi" value="<%= garment.lokasi %>"> <br>
        <label for="kontak">Kontak</label> <input type="text" name="kontak" id="kontak" value="<%= garment.kontak %>"> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
