<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <h1>All Garments</h1>
    <a href="/garment/create">Add</a>
    <h3><%= flash_message %></h3>
    <ul>
      <% for(const garment of garments) { %>
      <li>
        <a href="/garment/<%= garment.id %>"
          ><%= garment.name %> - <%= garment.lokasi %></a
        >
      </li>
      <% } %>
    </ul>
  </body>
</html>
