<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="/products/<%= garment_id %>" method="post">
        <label for="name">Name</label> <input type="text" name="name" id="name"> <br>
        <label for="brand">Brand</label> <input type="text" name="brand" id="brand"> <br>
        <label for="price">Price</label> <input type="text" name="price" id="price"> <br>
        <label for="color">Color</label> <input type="text" name="color" id="color"> <br>
        <label for="category">Category: </label>
        <select name="category" id="category">
            <option value="Baju">Baju</option>
            <option value="Fashion">Fashion</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
